html{
    background-color: #647b9c;
}

.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    /* border: thin solid black; */
    margin-top: 3px;
    flex-wrap: wrap;
    justify-content: center;
}

.container *{
    box-sizing: border-box;
}

.container-info *{
    padding: 5px;
    margin: 5px;
    
}

.container-info p{
    color: #001c59;
}

.container-info h4{
    color: #2d3954;
}

.evento{
    /* border: solid 1px #000; */
    margin: 10px;
    width: 500px;
    border-radius: 18px;
    background-color: #fff;
}

.evento button{
    background-color: #fab710;
    border-radius: 9px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    padding: 12px;
    text-align: center;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 420px;
    
   
}

.evento button:hover{
    background-color: #F3D25A;
    cursor: pointer;
}

.evento h3{
    color: #e00c49;
    font-size: 30px;
}

.img-evento{
    width: 100%;
    border-radius: 18px 18px 0px 0px;
    display: block;
    

}

.container-img-evento{
    width: 100%;
}


.circular{
    border-radius:  50%;
    width: 100px;
    height:100px;
}

.inline{
    display: inline;
    background-color: #f6a52e;
}

.container-docente{
    display: inline;
    width: 10px;
    position: relative;
    left: 60px;
    top: 40px;

}

.info-docente{
    position: relative;
    left: 140px;
    bottom: 120px;
    font-size: 30px;
}

.text-event,
.name-event
{

    position: relative;
    left: 60px;
    top: 10px;
}

.date {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
